<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>{{page.title}}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-tap-highlight" content="no" />
        {% for tag in page.metaTags %}
            <meta
                {% for key, value in tag %}
                    {{ key }} = "{{ value }}"
                {% endfor %}
            />
        {%  endfor %}

        {#<link href='http://fonts.googleapis.com/css?family=Kameron:700,400' rel='stylesheet' type='text/css'>#}
        {% for href in page.stylesheets.relativePaths %}
            <link rel="stylesheet" type="text/css" href="{{page.stylesheets.basePath}}/{{href}}">
        {% endfor %}
        {% if page.platform == "mobile" %}
            <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        {%  elseif page.platform == "tablet" %}
            <meta name="viewport" content="user-scalable=no">
        {% endif %}
    </head>
    <body class="{{page.controllerName}} {{ page.mobileChromeClass }} {{ page.platform }}">
        {%  if page.debug %}
            <div class="dc-debug">Debug Mode {{ page.platform }}</div>
        {% endif %}
        <div class="dc-background">
            <div id="fb-root"></div>
            <div class="dc-container">
                {% block body %}

                {% endblock %}
            </div>
            <div id="dependencies">
                {% for id, view in page.views %}
                    <script type="dc-template" id="{{ id }}">
                        {{ source(view) }}
                    </script>
                {% endfor %}
                <script type="text/javascript" id="dc-page-json">
                    this.pageJSON = {{(page|json_encode)}};
                </script>
            </div>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% for src in page.javascripts.relativePaths %}
            <script type="text/javascript" src="{{page.javascripts.basePath}}/{{src}}"></script>
        {% endfor %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-29818939-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script type="dc-template" id="dc-social-media-scripts-template">
            {{  source('_subtemplates/social-media-scripts.html') }}
        </script>
    </body>
</html>