{% extends _layout %}

{% block body %}
    <div class="dc-header-controller" dc-controller="header">
        {% embed '_subtemplates/header-medium-desktop.html' %}
            {% block subheader %}
                {% include '_subtemplates/share-input.html' with {'share': {'value':  'http://chug.to/'~page.game.nameUrl} } %}
            {% endblock %}
        {% endembed %}
    </div>
    {% include 'controllers/game.html' %}
    <script type="dc-template" id="dc-controller-game-template">
        {{ source('controllers/game.html') }}
    </script>
    <script type="dc-template" id="dc-game-template">
        {{ source('_subtemplates/dc-game-desktop.html') }}
    </script>
    <script type="dc-template" id="dc-directive-game-image-template">
        {{ source('directives/dc-directive-game-image.html') }}
    </script>
    {% if page.isAdmin %}
        <script type="dc-template" id="dc-directive-editable-template">
            {{ source('directives/dc-directive-editable.html') }}
        </script>
        <script type="dc-template" id="dc-directive-modal-template">
            {{ source('directives/dc-directive-modal.html') }}
        </script>
        <script type="dc-template" id="dc-directive-editable-modal-template">
            {{ source('directives/dc-directive-editable-modal.html') }}
        </script>
        <script type="dc-template" id="dc-directive-upload-thumbnail-template">
            {{ source('directives/dc-directive-upload-thumbnail.html') }}
        </script>
        <script type="dc-template" id="dc-directive-preview-thumbnail-modal-template">
            {{ source('directives/dc-directive-preview-thumbnail-modal.html') }}
        </script>
        <script type="dc-template" id="dc-directive-upload-image-template">
            {{ source('directives/dc-directive-upload-image.html') }}
        </script>
        <script type="dc-template" id="dc-directive-preview-image-modal-template">
            {{ source('directives/dc-directive-preview-image-modal.html') }}
        </script>
    {%  endif %}
    <script type="text/javascript" id="dc-game-json">
        this.gameJSON = {{(page.game|json_encode)}};
    </script>
{% endblock %}
