{% extends _layout %}

{% block body %}
    <div class="dc-header-controller" dc-controller="header">
        {% embed '_subtemplates/header-medium-desktop.html' %}
            {% block subheader %}
                {% include '_subtemplates/share-input.html' with {'share': {'placeholder': 'Set Movie Name'} } %}
            {% endblock %}
        {% endembed %}
    </div>
    {% include 'controllers/upload.html' %}
    <script type="dc-template" id="dc-controller-upload-template">
        {{ source('controllers/upload.html') }}
    </script>
    <script type="dc-template" id="dc-game-template">
        {{ source('_subtemplates/dc-game-desktop.html') }}
    </script>
    <script type="dc-template" id="dc-upload-game-modal-template">
        {{ source('_subtemplates/dc-upload-game-modal.html') }}
    </script>
    <script type="dc-template" id="dc-directive-editable-template">
        {{ source('directives/dc-directive-editable.html') }}
    </script>
    <script type="dc-template" id="dc-directive-modal-template">
        {{ source('directives/dc-directive-modal.html') }}
    </script>
    <script type="dc-template" id="dc-directive-editable-modal-template">
        {{ source('directives/dc-directive-editable-modal.html') }}
    </script>
    <script type="dc-template" id="dc-directive-search-input-template">
        {{ source('directives/dc-directive-search-input.html') }}
    </script>
    <script type="dc-template" id="dc-directive-upload-thumbnail-template">
        {{ source('directives/dc-directive-upload-thumbnail.html') }}
    </script>
    <script type="dc-template" id="dc-directive-preview-thumbnail-modal-template">
        {{ source('directives/dc-directive-preview-thumbnail-modal.html') }}
    </script>
    <script type="dc-template" id="dc-directive-upload-image-template">
        {{ source('directives/dc-directive-upload-image.html') }}
    </script>
    <script type="dc-template" id="dc-directive-preview-image-modal-template">
        {{ source('directives/dc-directive-preview-image-modal.html') }}
    </script>
    <script type="dc-template" id="dc-search-item-template">
        {{ source('_subtemplates/dc-search-item-desktop.html') }}
    </script>
    <script type="dc-template" id="dc-directive-game-image-template">
        {{ source('directives/dc-directive-game-image.html') }}
    </script>
    <script type="dc-template" id="dc-directive-game-image-admin-template">
        {{ source('directives/dc-directive-game-image-admin.html') }}
    </script>
    <script type="dc-template" id="dc-directive-embed-game-template">
        {{ source('directives/dc-directive-embed-game.html') }}
    </script>
    <script type="text/javascript" id="dc-game-json">
        this.gameJSON = {{(page.game|json_encode)}};
    </script>
{% endblock %}